@{
    ViewData["Title"] = "Home Page";
}
@Html.ActionLink("Go to Examinations|", "", "Examinations")
@Html.ActionLink("Reserve Examination|", "", "ReserveExaminations")
@Html.ActionLink("Go to Doctors", "", "Doctors")


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h1>Stats</h1>
<div class="container">

	<div class="row">

		<div class="four col-md-3">
			<div class="counter-box colored">
				<i class="fa fa-thumbs-o-up"></i>
				<span class="counter">@ViewData["PetientCount"];</span>
				<p>Patients</p>
			</div>
		</div>
		<div class="four col-md-3">
			<div class="counter-box">
				<i class="fa fa-group"></i>
				<span class="counter">@ViewData["ExaminationsCount"];</span>
				<p>Examinations</p>
			</div>
		</div>
		<div class="four col-md-3">
			<div class="counter-box">
				<i class="fa  fa-shopping-cart"></i>
				<span class="counter">@ViewData["ReservedExaminationsCount"];</span>
				<p>Reserved Examinations</p>
			</div>
		</div>
		<div class="four col-md-3">
			<div class="counter-box">
				<i class="fa  fa-user"></i>
				<span class="counter">@ViewData["DoctorsCount"];</span>
				<p>Doctors</p>
			</div>
		</div>
	</div>
</div>
